body {
    margin: 0;
    /* background: linear-gradient(to top left, #3F1344 10%, #4A1742 20%,  #522357 50%, #5539B2); */
    /* background: linear-gradient(to top left, #364156 10%, #292A48 20%,  #40476D 50%, #212d40);*/
    background: -webkit-gradient(linear, right bottom, left top, color-stop(20%, #292A48), color-stop(50%, #392061), to(#29335C));
    background: linear-gradient(to top left, #292A48 20%, #392061 50%, #29335C);
    height: 100vh;
    overflow: hidden;
  }

.logo {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40vw;
    z-index: 9999 !important;
    opacity: 0;
}

svg {
    width: 100%;
    height: 100%;
    
}

.preview__video {
    width: 100%;

    opacity: 0;
}

.visible {
    opacity: 1;
}
/* Animation Time */

.magictime {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

  /* Fade In */

  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

  /* Fade Out Animation */

  .vanishOut {
    -webkit-animation-name: vanishOut;
            animation-name: vanishOut;
  }
  @-webkit-keyframes vanishOut {
    0% {
      opacity: 1;
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
  
    100% {
      opacity: 0;
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-transform: scale(1.5, 1.5);
              transform: scale(1.5, 1.5);
    }
  }
  @keyframes vanishOut {
    0% {
      opacity: 1;
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
  
    100% {
      opacity: 0;
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-transform: scale(2, 2);
              transform: scale(2, 2);
    }
  }


